table, td, tr, th{
	border: 1px solid black;
	border-collapse: collapse;
	background-color: aquamarine;
}
body{
	background-color: #676767;
	font-family: "Times New Roman", serif;
}
h1{
	background-color: LemonChiffon;
#info{
	background-color: BurlyWood;
}

